html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

* { box-sizing: border-box; }

.section-rule {
    border-top: #8c2d19 solid 2px;
    width: 100px;
    border-width: 2px 0 0;
}