@import '../../styles/variables.scss';

.experience-container {
    margin: 15vh 0;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: $title-font-size;

        &::first-letter {
            font-weight: bold;
        }
    }

    .experience-item {
        margin-bottom: 5vh;

        &:last-child {
            margin-bottom: 0;
        }
    }
}