@import '../../styles/variables.scss';

.experience-container {
    margin: 15vh 0;

    .title {
        font-size: $title-font-size;
        text-align: center;

        &::first-letter {
            font-weight: bold;
        }
    }

    .experience-item:nth-child(odd) {
        background-color: white;
    }
}